body {
	display:flex;
	flex-direction:column;
	align-items:center;
}
/* header start */
#header {
	width:100%;
	display:flex;
	flex-direction:column;
	align-items:center;
}
#header .top {
	width:100%;
	background:#f6f6f6;
	height:30px;
	display:flex;
	align-items:center;
	justify-content:space-between;
}
#header .top > a {
	margin-left:72px;
}
#header .top ul {
	display:flex;
	margin-right:72px;
}
#header .top ul li:first-child {
	margin-right:36px;
}
#header .bottom {
	width:100%;
	height:110px;
	display:flex;
	justify-content:space-between;
	align-items:center;
}
#header .bottom > img {
	margin-left:12px;
}
#header .bottom ul {
	display:flex;
	align-items:center;
}
#header .bottom ul li {
	margin-left:27px;
}
#header .bottom ul li:last-child {
	margin-left:8px;
}
#header .bottom ul li img {
	border-radius:50%;
	margin-right:72px;
}
/* header end */