/* search start */
#search {
	display:flex;
	height:52px;
	width:1205px;
	justify-content:space-between;
}
#search > a {
	display:flex;
	width:224px;
	background:#31a030;
	justify-content:flex-start;
	color:#fff;
	align-items:center;
}
#search > a .all {
	display:flex;
	flex-direction:column;
	margin-left:20px;
	height:14px;
	justify-content:space-between;
}
#search > a span {
	width:16px;
	height:2px;
	display:inline-block;
	background:#fff;
}
#search > a h1 {
	margin-left:10px;
	font-size:18px;
}

#search ul {
	display:flex;
	flex-grow:2;
	align-items:center;
	padding-left:26px;
	border-top:1px solid #ddd;
	box-sizing:border-box;
}
#search .slider_nav .slider_bottom {
	display:none;
}
#search ul > li {
	position:relative;
}
#search ul > li ol {
	border:1px solid #ddd;
	position:absolute;
	top:33px;
	left:50%;
	margin-left:-80px;
	display:flex;
	flex-direction:column;
	background:#fff;
	z-index:99;
}
#search ul > li ol li {
	width:160px;
	height:45px;
	display:flex;
	justify-content:center;
}
#search ul > li ol li a {
	padding:14px 0;
	width:130px;
	display:inline-block;
	color:#666;
	border-bottom:1px solid #ddd;
}
#search ul > li .erweima {
	position:absolute;
	top:33px;
	left:50%;
	margin-left:-175px;
	display:flex;
	width:350px;
	height:180px;
	justify-content:space-around;
	align-items:center;
	border:1px solid #ddd;
	background:#fff;
	z-index:99;
}
#search ul > li .erweima .right {
	width:150px;
	height:132px;
	display:flex;
	flex-direction:column;
	justify-content:space-between;
}
#search ul > li .erweima .right h1 {
	display:inline-block;
	font-size:18px;
	color:#666;
}
#search ul > li .erweima .right .apple,
#search ul > li .erweima .right .android {
	display:inline-block;
	width:100%;
	height:44px;
	background:url('../images/erwei_sprit.png') no-repeat;
}
#search ul > li .erweima .right .apple {
	background-position:0 -28px;
}
#search ul > li .erweima .right .android {
	background-position:0 -76px;
}
#search ul > li > a {
	font-size:16px;
	padding:16px;
}
#search ul > li > a:hover {
	background:#31a030;
	color:#fff;
}

#search input {
	width:182px;
	height:34px;
	border:1px solid #31a030;
}
#search > div {
	border-top:1px solid #ddd;
	border-right:1px solid #ddd;
	display:flex;
	align-items:center;
}
#search > div img {
	width:34px;
	height:36px;
	float:right;
	margin-right:6px;
}
/* search end */